.kanban-container {
    padding: 20px;
  }
  
  .sprint-name {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .kanban-board {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .kanban-column {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    min-height: 750px;
  }
  
  .not-started {
    background-color: #867676;
  }
  
  .in-progress {
    background-color: #d8b16b;
  }
  
  .completed {
    background-color: #9cb384;
  }
  
  .kanban-column h3 {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
  }

  .kanban-box {
    background-color: #F5F5DC;
    color: black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .kanban-task-name, .kanban-story-point{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    color: black;
  }

  .save-changes-kanban {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #F5F5DC;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .force-end-kanban {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .force-end-kanban:hover {
    background-color: #d32f2f;
  }


  .cancel-kanban {
    position: fixed;
    bottom: 20px;
    left: 190px;
    padding: 10px 20px;
    background-color: #f44336;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .delete-sprint-kanban {
    position: fixed;
    bottom: 20px;
    right: 170px;
    padding: 10px 20px;
    background-color: #F5F5DC;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }