/* TeamBoardAdminLogin.css */
.user-login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-login-box {
    padding: 20px;
    background-color: #f0e68c; /* Khaki background */
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.user-login-box h1 {
    margin-bottom: 20px;
}

.user-login-box p {
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 10px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
}

.input-field input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button button {
    width: 100%;
    padding: 10px;
    background-color: #4682b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #4169e1;
}

.error {
    color: red;
    margin-bottom: 10px;
}